#page_header
  %h1= "Code: #{filter}"
  %ul.menu
    - for syntax in CodeBlock.syntaxes(:limit => 3)
      %li
        = link_to syntax.syntax.humanize, code_blocks_path(:filter => syntax.syntax)
        %span.count= "(#{syntax.count})"
    %li= link_to 'More...', syntaxes_path
= pagination @code_blocks
%ul#code_blocks
  - for code_block in @code_blocks
    %li
      = render :partial => 'stamp', :locals => { :code => code_block }
      =preserve code_block.highlighted
= pagination @code_blocks