- inside_layout 'pages/layout' do
  - form_for [ @version, @publishing ] do |f|
    %table
      %tr
        %th
        %th Name
        %th URL
        %th
      - Destination.find(:all).each do |destination|
        %tr
          %td= f.check_box :destination, { :name => 'publishing[destination][]' }, destination.id, nil
          %td= destination
          %td= destination.masked_url
          %td.actions
            = link_to 'Delete', destination_path(destination), :method => 'delete', :confirm => "Are you sure you want to remove #{destination} from your publishing destinations?"
      - fields_for Destination.new do |d|
        %tr
          %td= check_box_tag 'create_destination'
          %td= d.text_field :name
          %td= d.text_field :url
          %td
    %ul
      %li= f.submit 'Publish'
      %li.cancel= link_to 'Cancel', page_version_path(@version.page, @version.version)
  = @version.rendered