!!!
%html
  %head
    = javascript_include_tag 'jquery-1.2.6.min.js', 'jquery.ui.all.js', 'jquery.jgrowl_minimized.js', 'jquery.autocomplete.min.js', 'base'
    = stylesheet_link_tag 'reset', 'typography', 'ie', "uv/#{Page::CODE_THEME}", 'jquery.jgrowl.css', 'flora.all.css', 'jquery.autocomplete.css', 'base'
  %body{:class => page_class}
    %ul#notices
      - for bucket in [ :error, :success, :notice ]
        = notices flash[bucket], bucket.to_s
    #body
      %h1#title
        = link_to site_config(:header), root_path
      %ul#main.menu
        = menu_item 'Pages', pages_path, controller.is_a?(PagesController)
        = menu_item 'Code', code_blocks_path, [ CodeBlocksController, SyntaxesController ].include?(controller.class)
      #content_area
        %ul#recent_changes.menu
          %li
            %p Recent Changes:
          - for page in Page.recent.find(:all, :limit => 4) do
            %li= link_to page, page
          %li= link_to 'More...', pages_path
        #content
          = yield
        #footer
          = link_to 'bugs? feature requests?', 'http://citrusbyte.lighthouseapp.com/projects/15242-quiki'
          %span.separator= "|"
          = link_to 'quiki', 'http://github.com/citrusbyte/quiki', :id => 'quiki_link'
          %span#love &#x2665;'s
          = link_to 'citrusbyte', 'http://www.citrusbyte.com/'
      #sidebar
        = yield :sidebar