- inside_layout 'base' do
  = yield
  - content_for :sidebar do
    #page_menu
      %h3 Pages
      = text_field_tag :page_search
      %ul.pages
        = render :partial => 'pages/item', :collection => @base_orphaned_pages
        %li.page.new
          - form_for Page.new do |f|
            = f.text_field :title
            = f.submit 'New'
      %ul.sections.menu
        - for section in @base_sections
          %li.section
            = link_to section, section, :id => section.id, :class => 'section'
            %ul.pages{ :class => current_if(@page && section.pages.include?(@page)) }
              = render :partial => 'pages/item', :collection => section.pages
              %li.page.new
                - form_for Page.new(:section_id => section.id) do |f|
                  = f.hidden_field :section_id
                  = f.text_field :title
                  = f.submit 'New'
        %li.section
          - form_for Section.new do |f|
            = f.text_field :name
            = f.submit 'New'            
